<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Superhero Lab</title>
  </head>
 
  <body>
    <h1><%= @team.name %></h1>
    <h2><%= @team.motto %></h2>
    
    <% @team.heros.each do |hero|%>
    
  </body>
  
</html>



